# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environments
venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mypy cache
.mypy_cache/

# pytest cache
.cache/
