# Python -> 3.9

# pip install torch==2.5.0 torchvision==0.20.0 torchaudio==2.5.0 --index-url https://download.pytorch.org/whl/cu118

opencv-python==4.11.0.86
numpy==1.26.3
pandas==2.2.3
ultralytics==8.3.68
pyyaml==6.0.2
pymongo==4.12.0
tensorflow==2.9
gdown==5.2.0
mtcnn>=0.1.0
retina-face>=0.0.14
flask==3.1.0
gradio==4.44.1
pydantic==2.10.6